

<div class="history">
  <mat-card *ngIf="language=='english'">
    <span class="card-head">
      <mat-card-title color="primary">
        Generic Report
      </mat-card-title>
      <mat-card-subtitle>
        Enter date range
      </mat-card-subtitle>
    </span>
    <mat-card-content>
     <div class="radio radio1">
      <mat-radio-group  color="primary">
        <mat-radio-button [value]="1" name="small" (click)="onclickDate(7)">Last week</mat-radio-button>
        <mat-radio-button [value]="2" name="small" (click)="onclickDate(14)">Last two weeks</mat-radio-button>
      </mat-radio-group><br><br>
     </div>
<div class="date">
  <form [formGroup]="dateForm" (ngSubmit)="onSubmitDateForm(dateForm.value)">

    <mat-form-field>
      <mat-label>From date</mat-label>
      <input matInput [matDatepicker]="myDatepicker1" formControlName="fromDate" required>
      <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker1></mat-datepicker>
      <mat-error>
        Please provide a valid from date
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>To date</mat-label>
      <input matInput [matDatepicker]="myDatepicker2" formControlName="toDate" required>
      <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker2></mat-datepicker>
      <mat-error>
        Please provide a valid to date
      </mat-error>
    </mat-form-field>
<br>
<br>
    <button class="btn-set" mat-raised-button [disabled]="!dateForm.valid" color="primary" >Submit</button>
  </form>

</div>
   </mat-card-content>
  </mat-card>

<mat-card *ngIf="language=='japanese'">
    <span class="card-head">
      <mat-card-title color="primary">
        全体接触内容レポート
      </mat-card-title>
      <mat-card-subtitle>
        日付範囲の入力
      </mat-card-subtitle>
    </span>
    <mat-card-content>
     <div class="radio radio1">
      <mat-radio-group  color="primary">
        <mat-radio-button [value]="1" name="small" (click)="onclickDate(7)">先週</mat-radio-button>
        <mat-radio-button [value]="2" name="small" (click)="onclickDate(14)">過去2週間</mat-radio-button>
      </mat-radio-group><br><br>
     </div>
<div class="date">
  <form [formGroup]="dateForm" (ngSubmit)="onSubmitDateForm(dateForm.value)">

    <mat-form-field>
      <mat-label>日付から</mat-label>
      <input matInput [matDatepicker]="myDatepicker1" formControlName="fromDate" required>
      <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker1></mat-datepicker>
      <mat-error>
       有効な開始日を入力してください
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>現在まで</mat-label>
      <input matInput [matDatepicker]="myDatepicker2" formControlName="toDate" required>
      <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker2></mat-datepicker>
      <mat-error>
         有効な日付を入力してください
      </mat-error>
    </mat-form-field>
<br>
<br>
    <button class="btn-set-jp" mat-raised-button [disabled]="!dateForm.valid" color="primary" >レポート作成</button>
  </form>

</div>
   </mat-card-content>
  </mat-card>


  <!-- <mat-card >
    <span class="card-head">
      <mat-card-title color="primary">
        Report based on Find Id
      </mat-card-title>
      <mat-card-subtitle>
        Select find and From to To date
      </mat-card-subtitle>
    </span>
    <mat-card-content>
      <mat-radio-group  color="primary">
        <mat-radio-button [value]="1" name="small" (change)="onclickFindId(7)">Previous Day</mat-radio-button>
        <mat-radio-button [value]="2" name="small" (change)="onclickFindId(14)">Previous Day</mat-radio-button>
      </mat-radio-group><br>
      <form [formGroup]="findIdForm" (ngSubmit)="onSubmitFindId(findIdForm.value)">

        <mat-form-field>
          <mat-label>Select find</mat-label>
          <mat-select formControlName="selectedValue" name="find">
            <mat-option *ngFor="let a of finds" [value]="a.deviceId">
              {{a.deviceId}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input type='date' matInput placeholder="From date" formControlName="fromDate" required>
          <mat-icon matPrefix >calendar_today</mat-icon>
          <mat-error>
            Please provide a valid from date
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input  type='date' matInput  placeholder="To date" formControlName="toDate" required >
          <mat-icon matPrefix >calendar_today</mat-icon>
          <mat-error>
            Please provide a valid to date
          </mat-error>
        </mat-form-field><br>
        <button mat-raised-button [disabled]="!findIdForm.valid" color="primary" >Submit</button>
      </form>
    </mat-card-content>
  </mat-card> -->

  <mat-card *ngIf="language=='english'">
    <span class="card-head">
      <mat-card-title color="primary">
         Cumulative Report
      </mat-card-title>
      <mat-card-subtitle>
        Enter date range
      </mat-card-subtitle>
    </span> <br>
    <mat-card-content>
    <div >
      <mat-radio-group  color="primary" class="radio ">
        <mat-radio-button [value]="1" name="small" (click)="onclickDate1(7)">Last week</mat-radio-button>
        <mat-radio-button [value]="2" name="small" (click)="onclickDate1(14)">Last two weeks</mat-radio-button>
      </mat-radio-group>
    </div> <br>

      <form [formGroup]="cummulativeForm" (ngSubmit)="onSubmitcummulativeForm(cummulativeForm.value)">

        <mat-form-field>
          <mat-label>From date</mat-label>
          <input matInput [matDatepicker]="myDatepicker11" formControlName="fromDate" required>
          <mat-datepicker-toggle matSuffix [for]="myDatepicker11"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker11></mat-datepicker>
          <mat-error>
            Please provide a valid from date
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>To date</mat-label>
          <input matInput [matDatepicker]="myDatepicker12" formControlName="toDate" required>
          <mat-datepicker-toggle matSuffix [for]="myDatepicker12"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker12></mat-datepicker>
          <mat-error>
            Please provide a valid to date
          </mat-error>
        </mat-form-field>
  <br>
  <br>
        <button class="btn-set" mat-raised-button [disabled]="!cummulativeForm.valid" color="primary" >Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
    <mat-card *ngIf="language=='japanese'">
    <span class="card-head">
      <mat-card-title color="primary">
         接触累積レポート
      </mat-card-title>
      <mat-card-subtitle>
        日付範囲を入力してください
      </mat-card-subtitle>
    </span>
    <mat-card-content>
    <div >
      <mat-radio-group  color="primary" class="radio radio1">
        <mat-radio-button [value]="1" name="small" (click)="onclickDate1(7)">先週</mat-radio-button>
        <mat-radio-button [value]="2" name="small" (click)="onclickDate1(14)">過去2週間</mat-radio-button>
      </mat-radio-group>
    </div>

      <form [formGroup]="cummulativeForm" (ngSubmit)="onSubmitcummulativeForm(cummulativeForm.value)">

        <mat-form-field>
          <mat-label>日付から</mat-label>
          <input matInput [matDatepicker]="myDatepicker11" formControlName="fromDate" required>
          <mat-datepicker-toggle matSuffix [for]="myDatepicker11"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker11></mat-datepicker>
          <mat-error>
            有効な開始日を入力してください
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label> 現在まで</mat-label>
          <input matInput [matDatepicker]="myDatepicker12" formControlName="toDate" required>
          <mat-datepicker-toggle matSuffix [for]="myDatepicker12"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker12></mat-datepicker>
          <mat-error>
            有効な日付を入力してください
          </mat-error>
        </mat-form-field>
  <br>
  <br>
        <button class="btn-set-jp" mat-raised-button [disabled]="!cummulativeForm.valid" color="primary" >レポート作成</button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="language=='english'">
    <span class="card-head">
      <mat-card-title color="primary">
        Social Distancing Violators Report Based On Username
      </mat-card-title>
      <mat-card-subtitle>
        Enter username and date range
      </mat-card-subtitle>
    </span>
    <mat-card-content>
      <div class="radio ">
      <mat-radio-group  color="primary">
        <mat-radio-button [value]="1" name="small" (change)="onclickFindName(7)">Last week</mat-radio-button>
        <mat-radio-button [value]="2" name="small" (change)="onclickFindName(14)">Last two weeks</mat-radio-button>
      </mat-radio-group>
    </div><br>
      <form [formGroup]="findNameForm" (ngSubmit)="onSubmitFindName(findNameForm.value)">

        <mat-form-field class="example-full-width">
          <input type='text' matInput placeholder="User Name" formControlName="deviceName"  [matAutocomplete]="auto"  (keyup)="userSuggestion($event)" required>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let user of username" [value]="user">
              {{user}}
            </mat-option>
          </mat-autocomplete>
          <mat-error>
            Please provide a valid user name
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>From date</mat-label>
          <input matInput [matDatepicker]="myDatepicker5" formControlName="fromDate" required>
          <mat-datepicker-toggle matSuffix [for]="myDatepicker5"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker5></mat-datepicker>
          <mat-error>
            Please provide a valid from date
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>To date</mat-label>
          <input matInput [matDatepicker]="myDatepicker6" formControlName="toDate" required>
          <mat-datepicker-toggle matSuffix [for]="myDatepicker6"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker6></mat-datepicker>
          <mat-error>
            Please provide a valid to date
          </mat-error>
        </mat-form-field>
  <br><br><br>
        <button class="btn-set" mat-raised-button [disabled]="!findNameForm.valid" color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
     <mat-card *ngIf="language=='japanese'">
    <span class="card-head">
      <mat-card-title color="primary">
        ソーシャルディスタンス内に近づいた追跡対象者の全接触者リスト
      </mat-card-title>
      <mat-card-subtitle>
        追跡対象者名と日付範囲を入力
      </mat-card-subtitle>
    </span>
    <mat-card-content>
      <div class="radio ">
      <mat-radio-group  color="primary">
        <mat-radio-button [value]="1" name="small" (change)="onclickFindName(7)">先週</mat-radio-button>
        <mat-radio-button [value]="2" name="small" (change)="onclickFindName(14)">過去2週間</mat-radio-button>
      </mat-radio-group>
    </div><br>
      <form [formGroup]="findNameForm" (ngSubmit)="onSubmitFindName(findNameForm.value)">

        <mat-form-field class="full-width-input">
          <input type='text' matInput placeholder="ユーザー名" formControlName="deviceName"  [matAutocomplete]="auto"  (keyup)="userSuggestion($event)" required>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let user of username" [value]="user">
              {{user}}
            </mat-option>
          </mat-autocomplete>
          <mat-error>
            正式なユーザー名を入力してください
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>日付から</mat-label>
          <input matInput [matDatepicker]="myDatepicker5" formControlName="fromDate" required>
          <mat-datepicker-toggle matSuffix [for]="myDatepicker5"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker5></mat-datepicker>
          <mat-error>
            有効な開始日を入力してください
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>現在まで</mat-label>
          <input matInput [matDatepicker]="myDatepicker6" formControlName="toDate" required>
          <mat-datepicker-toggle matSuffix [for]="myDatepicker6"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker6></mat-datepicker>
          <mat-error>
            有効な日付を入力してください
          </mat-error>
        </mat-form-field>
  <br><br><br>
        <button class="btn-set-jp" mat-raised-button [disabled]="!findNameForm.valid" color="primary">レポート作成</button>
      </form>
    </mat-card-content>
  </mat-card>
  <!-- summary from -->

  <!-- <mat-card >
    <span class="card-head">
      <mat-card-title color="primary">
        Summary Report of Infected User
      </mat-card-title>
      <mat-card-subtitle>
        Enter infected person name and date range
      </mat-card-subtitle>
      <mat-error *ngIf="daysExceed">
        Please choose the proper date range with less than 15 days.
      </mat-error>
    </span>
    <mat-card-content>
      <div class="radio">
      <mat-radio-group  color="primary">
        <mat-radio-button [value]="1" name="small" (change)="onclickSummaryReport(7)">Last week</mat-radio-button>
        <mat-radio-button [value]="2" name="small" (change)="onclickSummaryReport(14)">Last two weeks</mat-radio-button>
      </mat-radio-group>
    </div><br>
      <form [formGroup]="summaryReportForm" (ngSubmit)="onSubmitSummaryReport(summaryReportForm.value)">

        <mat-form-field class="full-width-input">
          <input type='text' matInput placeholder="User Name" formControlName="deviceName" [matAutocomplete]="auto" (keyup)="infectedSuggestion($event)" required>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let user of username" [value]="user">
              {{user}}
            </mat-option>
          </mat-autocomplete>
          <mat-error>
            Please provide a valid user name
          </mat-error>
        </mat-form-field>



        <mat-form-field>
          <mat-label>From date</mat-label>
          <input matInput [matDatepicker]="myDatepicker5" formControlName="fromDate"  required>
          <mat-datepicker-toggle matSuffix [for]="myDatepicker5"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker5></mat-datepicker>
          <mat-error>
            Please provide a valid from date
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>To date</mat-label>
          <input matInput [matDatepicker]="myDatepicker6" formControlName="toDate" required>
          <mat-datepicker-toggle matSuffix [for]="myDatepicker6"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker6></mat-datepicker>
          <mat-error>
            Please provide a valid to date
          </mat-error>
        </mat-form-field>
  <br> <br><br>
        <button class="btn-set" mat-raised-button [disabled]="!summaryReportForm.valid" color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card> -->

  <mat-card  *ngIf="language=='english'">
    <span class="card-head">
      <mat-card-title color="primary">
        Summary Report of Infected User
      </mat-card-title>
      <mat-card-subtitle>
        Enter infected person name and date range
      </mat-card-subtitle>

    </span>
    <mat-card-content>

      <form [formGroup]="summaryReportForm" (ngSubmit)="onSubmitSummaryReport(summaryReportForm.value)">

          <mat-radio-group  color="primary" formControlName="status" class="infect" >
            <mat-radio-button value="0" name="small" [checked]="true">Before marking Infected</mat-radio-button>
            <mat-radio-button value="1" name="small" >After marking Infected</mat-radio-button>
          </mat-radio-group>
        <br>
        <mat-form-field class="full-width-input">
          <input type='text' matInput placeholder="User Name" formControlName="deviceName" [matAutocomplete]="auto"
          (keyup)="infectedSuggestion($event)" required>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let user of username" [value]="user">
              {{user}}
            </mat-option>
          </mat-autocomplete>
          <mat-error>
            Please provide a valid user name
          </mat-error>
        </mat-form-field>

        <br> <br><br>
        <button class="btn-set" mat-raised-button [disabled]="!summaryReportForm.valid" color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="language=='japanese'" >
    <span class="card-head">
      <mat-card-title color="primary">
       感染した対象者のソーシャルディスタンス内に近づいた全接触者リスト
      </mat-card-title>
      <mat-card-subtitle>
        感染者の名前と日付範囲を入力
      </mat-card-subtitle>
      <mat-error *ngIf="daysExceed">
       15日未満の適切な日付範囲を選択してください。.
      </mat-error>
    </span>
    <mat-card-content>

      <form [formGroup]="summaryReportForm" (ngSubmit)="onSubmitSummaryReport(summaryReportForm.value)">
        <mat-radio-group  color="primary" formControlName="status" class="infect" >
          <mat-radio-button value="0" name="small" [checked]="true">Before marking Infected</mat-radio-button>
          <mat-radio-button value="1" name="small" >After marking Infected</mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="full-width-input">
          <input type='text' matInput placeholder="ユーザー名  " formControlName="deviceName" [matAutocomplete]="auto" (keyup)="infectedSuggestion($event)" required>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let user of username" [value]="user">
              {{user}}
            </mat-option>
          </mat-autocomplete>
          <mat-error>
           正式なユーザー名を入力してください
          </mat-error>
        </mat-form-field>


  <br> <br><br>
        <button class="btn-set-jp" mat-raised-button [disabled]="!summaryReportForm.valid" color="primary">レポート作成</button>
      </form>
    </mat-card-content>
  </mat-card>

    <!-- <mat-card *ngIf="language=='japanese'" >
    <span class="card-head">
      <mat-card-title color="primary">
       感染した対象者のソーシャルディスタンス内に近づいた全接触者リスト
      </mat-card-title>
      <mat-card-subtitle>
        感染者の名前と日付範囲を入力
      </mat-card-subtitle>
      <mat-error *ngIf="daysExceed">
       15日未満の適切な日付範囲を選択してください。.
      </mat-error>
    </span>
    <mat-card-content>
      <div class="radio">
      <mat-radio-group  color="primary">
        <mat-radio-button [value]="1" name="small" (change)="onclickSummaryReport(7)">先週</mat-radio-button>
        <mat-radio-button [value]="2" name="small" (change)="onclickSummaryReport(14)">過去2週間</mat-radio-button>
      </mat-radio-group>
    </div><br>
      <form [formGroup]="summaryReportForm" (ngSubmit)="onSubmitSummaryReport(summaryReportForm.value)">

        <mat-form-field class="full-width-input">
          <input type='text' matInput placeholder="ユーザー名  " formControlName="deviceName" [matAutocomplete]="auto" (keyup)="infectedSuggestion($event)" required>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let user of username" [value]="user">
              {{user}}
            </mat-option>
          </mat-autocomplete>
          <mat-error>
           正式なユーザー名を入力してください
          </mat-error>
        </mat-form-field>


        <mat-form-field>
          <mat-label>日付から</mat-label>
          <input matInput [matDatepicker]="myDatepicker7" formControlName="fromDate"  required>
          <mat-datepicker-toggle matSuffix [for]="myDatepicker7"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker7></mat-datepicker>
          <mat-error>
            有効な開始日を入力してください
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>現在まで</mat-label>
          <input matInput [matDatepicker]="myDatepicker8" formControlName="toDate" required>
          <mat-datepicker-toggle matSuffix [for]="myDatepicker8"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker8></mat-datepicker>
          <mat-error>
             有効な日付を入力してください
          </mat-error>
        </mat-form-field>
  <br> <br><br>
        <button class="btn-set-jp" mat-raised-button [disabled]="!summaryReportForm.valid" color="primary">レポート作成</button>
      </form>
    </mat-card-content>
  </mat-card> -->
  <mat-card *ngIf="language== 'english'">
    <span class="card-head">
      <mat-card-title color="primary">
        Custom Report
      </mat-card-title>
      <mat-card-subtitle>
        Select Report Type
      </mat-card-subtitle>
    </span>
    <mat-card-content>
      <form [formGroup]="customReport" (ngSubmit)="onSubmitCustomReport(customReport.value)">
        <mat-form-field>
          <mat-label>Select type</mat-label>
          <mat-select formControlName="type">
            <mat-option value="1"> Within 24 Hours</mat-option>
            <mat-option value="2"> Between 24 Hours and 48 Hours</mat-option>
            <mat-option value="3"> More than 48 Hours</mat-option>
          </mat-select>
        </mat-form-field> <br> <br> <br>
        <button class="btn-set" color="primary" mat-raised-button [disabled]="!customReport.valid">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>


  <mat-card *ngIf="language== 'japanese'">
    <span class="card-head">
      <mat-card-title color="primary">
        カスタムレポート
      </mat-card-title>
      <mat-card-subtitle>
        レポートタイプを選択します
      </mat-card-subtitle>
    </span>
    <mat-card-content>
      <form [formGroup]="customReport" (ngSubmit)="onSubmitCustomReport(customReport.value)">
        <mat-form-field>
          <mat-label>タイプを選択</mat-label>
          <mat-select formControlName="type">
            <mat-option value="1"> 24時間以内に</mat-option>
            <mat-option value="2"> 24時間から48時間の間</mat-option>
            <mat-option value="3"> 48時間以上</mat-option>
          </mat-select>
        </mat-form-field> <br> <br> <br>
        <button class="btn-set-jp" mat-raised-button [disabled]="!findNameForm.valid" color="primary">レポート作成</button>
      </form>
    </mat-card-content>
  </mat-card>


  <mat-card >
    <span class="card-head">
      <mat-card-title color="primary">
        Department wise cummulative report
      </mat-card-title>
      <mat-card-subtitle>
        Enter date range
      </mat-card-subtitle>
    </span> <br>
    <mat-card-content>
    <div class="radio radio1">
      <mat-radio-group  color="primary" >
        <mat-radio-button [value]="1" name="small" (click)="departmentcummulate(7)">Last week</mat-radio-button>
        <mat-radio-button [value]="2" name="small" (click)="departmentcummulate(14)">Last two weeks</mat-radio-button>
      </mat-radio-group>
    </div>
   <br>
      <form [formGroup]="departmentcummulativeForm" (ngSubmit)="onSubmitdeptcummulativeForm(departmentcummulativeForm.value)">

          <mat-form-field>
          <mat-label>Select Department Name</mat-label>
          <mat-select  formControlName="department">
            <mat-option *ngFor="let dept of departments" [value]="dept.id">{{dept.department}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>From date</mat-label>
          <input matInput [matDatepicker]="myDatepicker13" formControlName="fromDate" required>
          <mat-datepicker-toggle matSuffix [for]="myDatepicker13"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker13></mat-datepicker>
          <mat-error>
            Please provide a valid from date
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>To date</mat-label>
          <input matInput [matDatepicker]="myDatepicker14" formControlName="toDate" required>
          <mat-datepicker-toggle matSuffix [for]="myDatepicker14"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker14></mat-datepicker>
          <mat-error>
            Please provide a valid to date
          </mat-error>
        </mat-form-field>
  <br>
  <br>
        <button class="btn-set" mat-raised-button [disabled]="!departmentcummulativeForm.valid" color="primary" >Submit</button>
      </form>
    </mat-card-content>
  </mat-card>





</div>
