mat-card {
  width: 20rem;
  margin: 2em auto;
  text-align: center;
}
.setting {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
}
mat-card.mat-card.mat-focus-indicator {
    box-shadow: 0 2px 8px 0 #ef6c00;
}
mat-card-title{
  color: #ef6c00;
  font-family: serif;
  line-height: 2rem;
}
.secStatus {
  margin-top: 0.5rem;
}
.warning {
  border: 1px solid red;
  color: red;
}
button.mat-focus-indicator.btn-set.mat-raised-button.mat-button-base.mat-primary {
  position: absolute;
  bottom: 1rem;
  right: 7.5rem;
  cursor:pointer;
}
input.input-file {
  margin-left: 3.5rem;
  margin-top: 1.1rem;
}
mat-radio-group.mat-radio-group.wearable.ng-untouched.ng-pristine.ng-valid {
  display: flex;
  justify-content: space-evenly;
  margin-top: -1rem;
}
.wearable {
  display: flex;
  justify-content: space-evenly;
  margin-top: -1rem;
}
.bufferError{
  margin-top: -1rem;
  font-size: smaller;
  margin-left: -1rem;
}
.marquee {
  margin:1rem 0 0 0;
/*  
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  width:fit-content;
  display: flex;*/
  line-height: 30px; 
  font-weight: 500 !important;
  font-size: 1.5rem !important;
  font-family: sans-serif !important;
  /* -moz-animation: marquee 5s linear infinite;
  -webkit-animation: marquee 5s linear infinite;
  animation: marquee 5s linear infinite; */
  /* animation: marquee 15s linear infinite forwards; */
  color:red;
}

/* @keyframes marquee {
  0% {
    
    transform: translateX(0);
  }
  100% {
    
    transform: translateX(10%);
  }
} */
/* @keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10%);
  }
} */
@media only screen and (max-width: 768px){
  /* .setting {
    margin-left: 2rem;
  } */
  .marquee {
  margin:1rem 0 0 0;
/*  
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  width:fit-content;
  display: flex;*/
  line-height: 30px; 
  font-weight: 500 !important;
  font-size: small !important;
  font-family: sans-serif !important;
  /* -moz-animation: marquee 5s linear infinite;
  -webkit-animation: marquee 5s linear infinite;
  animation: marquee 5s linear infinite; */
  /* animation: marquee 15s linear infinite forwards; */
  color:red;
}
}
